.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.html-warp-space {
  width: 100%;
  min-height: 100%;
  background-color: white;
}

.id-panel {
  width: 100%;
  min-height: 100%;
  background-color: #303030;
}

.need-id-element {
	background: #ffccd1;
	border: 1px solid #ff6374;
	padding: 5px;
	border-radius: 7px;
	position: relative;
	cursor: pointer;
}

.need-id-element.exist-id {
	background: #f8ffa1;
	border: 1px solid #84b342;
}

.need-id-element.exist-id:hover::after {
	background: rgba(248, 255, 161, 0.7);
}

.need-id-element.exist-id.on-hover, .need-id-element.exist-id.on-hover:hover::after {
	background-color: forestgreen;
}

.need-id-element:hover::after {
	content: '';
	background: rgba(255, 204, 209, 0.7);
	border: none;
	border-radius: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.need-id-element.on-hover, .need-id-element.on-hover:hover::after {
	background-color: firebrick;
}